@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .form-h1 {
        @apply mb-2 text-4xl font-bold text-white;
    }

    .form-p1 {
        @apply mb-8 text-sm text-slate-400;
    }

    .form-input {
        @apply w-full p-3 mb-2 text-white border rounded-lg border-slate-700 bg-slate-900;
    }

    .form-btn {
        @apply w-full py-3 mb-6 font-semibold text-white transition-all duration-200 transform bg-blue-600 rounded-lg hover:bg-blue-700 hover:scale-105;
    }

    .form-p2 {
        @apply text-sm text-center text-slate-400;
    }

    .form-a {
        @apply font-semibold text-blue-400 transition-colors hover:text-blue-300;
    }
}